.course-item {
  width: 161px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}