.currency__input {
  width: 67%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: box-shadow .15s ease-in-out;
}

.currency__input:focus {
  box-shadow: 0 0 2px 1px rgb(102, 184, 246);
}